@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

html,
body,
.wrapper {
  height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font: 1rem / 1.516 'Montserrat', Arial, sans-serif;
}

.wrapper {
  position: relative;

  background: url(https://source.unsplash.com/TamMbr4okv4/6016×4016) no-repeat fixed center/cover;
}

.wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.25);
}

header,
.content,
footer {
  position: absolute;
}

header,
footer {
  width: 100%;
}

header {
  top: 0;
  text-align: center;
  text-align: -webkit-center;
}

header h2 {
  margin-left: 30px;
  color: white;
}

.content {
  top: 50%;
  left: 50%;
  text-align: center;
  color: #fff;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #08080842;
  padding: 2% 5%;
  border-radius: 15px;
  box-shadow: -5px 16px 9px 0px #0000005e;
}

.content h1 {
  margin-top: 0;
  font-size: 6em;
  font-weight: 600;
  margin-bottom: 10px;
}

.content form {
  margin: auto;
  display: table;
}

.content input {
  float: left;
  font-size: 16px;
  border: 1px solid #fff;
}

.countdown .info {
  font-size: 1.5em;
}

.content input[type=email] {
  padding: 12px;
  background: #fff;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.content input[type=submit] {
  padding: 12px 24px;
  margin-left: 5px;
  color: #fff;
  background: transparent;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
  transition: all 2s ease-in-out;
}

.content input[type=submit]:hover {
  color: #ffffff;
  background: linear-gradient(45deg, #9C27B0, #673AB7);
}

.countdown {
  margin: auto;
  display: table;
  font-size: 28px;
  font-weight: 500;
}

.countdown .number {
  font-family: 'Righteous', cursive;
  font-size: 2em;
}

.countdown>div {
  float: left;
  min-width: 80px;
  padding: 0 8px;
}

.countdown span {
  position: relative;
  display: block;
  font-size: 16px;
  text-align: center;
}

.countdown span:before {
  content: '';
  position: absolute;
  top: -2px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 20px;
  height: 1px;
  background: #fff;
}

footer {
  padding-bottom: 12px;
  bottom: 0;
}

.footer__links {
  text-align: center;
  list-style-type: none;
}

.footer__links li {
  display: inline-block;
}

.footer__links li:nth-of-type(n+2) {
  margin-left: 12px;
}

.footer__links a {
  padding: 8px 0;
  display: block;
  width: 41px;
  text-align: center;
  color: #fff;
  border: 1px solid;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}

.footer__links a.insta:hover {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.footer__links a.fb:hover {
  background: #3b5998;
}

.footer__links a.linkedin:hover {
  background: #0e76a8;
}

.footer__links .fa {
  vertical-align: middle;
  font-size: 21px;
}

@media screen and (max-width:991.98px) {
  header {
    text-align: left;
  }

  .content h1 {
    font-size: 4em;
  }

  .content {
    width: 80%;
    padding: 5%;
  }

  .countdown .number {
    font-size: 1.2em;
  }
}